// font
$font-color: #333333;
$font-lg: 20px;
$font-md: 18px;
$font-base: 16px;
$font-sm: 14px;
$font-xs: 12px;

// Button color
$button-color: #7782ec;

// font-weight
$font-normal: 400;
$font-meduim: 500;
$font-demibold: 600;
$font-bold: 700;

// dark mode
$dark-bg: #344fa1;
$dark-block: #031956;